<!DOCTYPE html>
<html>
<head>
    <title>Capstone Heroes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='cover.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href=""> <!-- Change 'home' to your route name -->
                <img src="{{ url_for('static', filename='cover.png') }}" alt="Logo">
            </a>
        </div>
    </header>
    <div class="container">
        <h1 class="heading">Text Classification</h1>
        <form id="prediction-form" method="POST" action="/">
            <textarea id="text-input" name="text_input" placeholder="Enter your text here"></textarea>
            <button type="submit" id="predict-button">Predict</button>
        </form>

        <div id="prediction-result" class="luxurious-predictions-best">
            {% if predictions %}
                <div class="best-prediction">
                    <p class="best-prediction-title"><strong>Best Prediction:</strong></p>
                    <p>{{ get_best_prediction_label(best_prediction) }}</p>
                    <p><strong>Result:</strong> {{ get_best_prediction_result(predictions[best_prediction][0]) }}</p>
                    <p><strong>Confidence:</strong> {{ "%.2f"|format(predictions[best_prediction][1]) }}</p>
                </div>
            {% endif %}
        </div>
        


        <div id="prediction-result" class="luxurious-predictions">
            {% if predictions %}
                <div class="prediction-item">
                    <p><strong>Baseline Model Predictions:</strong></p>
                    <p>TF-IDF Prediction: {{ predictions.tfidf[0] }} (Confidence: {{ "%.2f"|format(predictions.tfidf[1]) }})</p>
                    <p>BoW Prediction: {{ predictions.bow[0] }} (Confidence: {{ "%.2f"|format(predictions.bow[1]) }})</p>
                </div>
                <div class="prediction-item">
                    <p><strong>Deep Learning Model Predictions:</strong></p>
                    <p>LSTM Prediction: {{ predictions.lstm[0] }} (Confidence: {{ "%.2f"|format(predictions.lstm[1]) }})</p>
                    <p>GRU Prediction: {{ predictions.gru[0] }} (Confidence: {{ "%.2f"|format(predictions.gru[1]) }})</p>
                </div>
            {% endif %}
        </div>
    </div>

    <footer class="footer">
        <p class="footer-text">Capstone Project for Samsung Innovation Campus</p>
    </footer>
    
    <script>
        const form = document.getElementById('prediction-form');
        const textInput = document.getElementById('text-input');
        const predictButton = document.getElementById('predict-button');
        const predictionResultContainer = document.getElementById('prediction-result');
        let predictionDisplayed = false;

        // Submit the form when Enter key is pressed in the text input
        textInput.addEventListener('keydown', (event) => {
            if (event.key === 'Enter' && !predictionDisplayed) {
                event.preventDefault(); // Prevent Enter from adding a new line
                form.submit(); // Submit the form
                predictionDisplayed = true;
            }
        });

        // Submit the form when Predict button is clicked
        predictButton.addEventListener('click', (event) => {
            event.preventDefault(); // Prevent default button behavior
            form.submit(); // Submit the form
            predictionDisplayed = true;
        });

        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const text = textInput.value.trim();
            if (text && !predictionDisplayed) {
                const formData = new FormData(form);
                const response = await fetch(form.action, {
                    method: 'POST',
                    body: formData
                });
                const predictionResult = await response.text();
                predictionResultContainer.innerHTML = `<p>Prediction: ${predictionResult}</p>`;
                predictionDisplayed = true;
            }
        });
    </script>
</body>
</html>